# Ignore log files
logs/
*.log

# Ignore credential files
Private/vcaadcred.xml
Private/vcaadmin.xml

# Ignore sensitive data files
Private/csv/HOSPITALMASTER.xlsx
Private/csv/archive/
Data/


# Ignore temporary files
*.tmp
*.temp

# Windows specific
Thumbs.db
Desktop.ini